/* body {
    height: 100%;
    font-size: 15px;        
} */

.font-size-rem-1 {
    font-size: 1rem;
}

/* ul#actions-menu {
    width: 200px;
    position: fixed;
    z-index: 99999;
              display: none;
} */

/*** START Bootstrap context menu example 1 */
/* body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #00C853;
    background-repeat: no-repeat
} */

#context-translation {
    position: fixed;
    z-index: 99999;
    display: none;
}

.with-placeh:after {
    content: "\f2a2";
}
#context-translation .card {
    border-radius: 10px;
    /* width: 500px;         */
}

#context-translation .row {
    width: 100%;
    margin: 0;
    padding: 0;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: contain;
    background-color: #E0E0E0
}

textarea {
    padding: 15px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    /* color: #616161; */
    border: 1px solid #F5F5F5;
    font-size: 16px;
    letter-spacing: 1px;
    height: 120px !important;
    width: 100%
}

textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00C853 !important;
    outline-width: 0 !important
}

select {
    border: none;
    font-size: 15px;
    background-color: #fff !important
}

select:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0 !important
}

::placeholder {
    color: #BDBDBD
}

:-ms-input-placeholder {
    color: #BDBDBD
}

::-ms-input-placeholder {
    color: #BDBDBD
}

.btn-success {
    border-radius: 50px;
    padding: 4px 40px
}

.options {
    font-size: 23px;
    color: #757575;
    cursor: pointer
}

.options:hover {
    color: #000
}
/*** END Bootstrap context menu example 1 */

#context-translation .card {
    font-size: 15px !important;        
    padding: 2rem 1.5rem;
}

.dark-grey {
    color: darkgrey;
}

.text-align-center {
    text-align: center;
}

.fo-size-0d75 {
    font-size: 0.75rem;   
}

.fo-size-0d9 {
    font-size: 0.96rem !important;   
}

.pa-top-2rem {
    padding-top: 2.4rem;  
}

.bu-big {
    padding: 0;
    margin-bottom: 1.7rem;
    position: relative;
    top: -0.5rem !important;
}

.bu-big > div {
    border-radius: 0.25rem;    
}

.language-select-container.form-group > label {
    margin-bottom: 0 !important;
}

#language-select-container.form-group > select {
    display: block !important;
}

/* .border-black {
    border: 1px solid black;
    
} */

#translation-result-container {    
    text-align: center; 
    /* color: dark-grey; */
}

#translation-result-container .form-group > label {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#context-translation .card {
    box-shadow: 8px 8px 29px #888888;
}

#context-translation .card #translation-result-container .form-group > textarea {
    padding: 1rem;
    border: 1px solid rgba(0,0,0,.125) !important;
    border-radius: 7px !important;
    color: black !important;
}

body {
    line-height: unset !important;
}

#button-copy {
    margin: 0;
}

#context-translation div:has(>#button-copy) {
    padding: 0 15px !important;
}

.btn {
    font-size: 0.85rem !important;
}